*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
}


.body{
    font-family: 'Roboto', sans-serif;

}
html{
    scroll-behavior:smooth;
}

.nav{
    background-color:black;
    height:80px;
    width:100%;
    display:flex;
    justify-content:flex-end;
    position:sticky;
    top:0;
    z-index:9;
}
.nav-list{
    display:flex;
    align-items:center;
    list-style:none;
    margin-right:28px;
}
.nav-list a{
    text-decoration:none;
    color:white;
    padding:20px;

}
.nav-list a:hover{
    color:red;

} 

.main{
    width:100%;
    background-color:black;
    height: calc(100vh - 80px);
    background-image:url("imagens/fundotela.png");
    display:flex;
    align-items:center;
    padding-left:10%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.main h1{
    color:white;
    font-size:54px;
}
.main p{
    font-size:24px;
    font-style:italic;
    color:white;
    margin-top:10px;
    margin-bottom:35px

}
.call-to-action{
    cursor:pointer;
    background-color:white;
    border:0;
    padding:14px;
    border-radius:4px;
    font-size:18px;
    font-weight:bold;
    transition:0.9s;

}
.call-to-action:hover{
    transform:scale(1.1);

}
.main a{
    text-decoration:none;
    color:black;
}

.about{
    background-color:white;
    width:100%;
    padding-left:10%;
    padding-right:10%;
    padding-top:80px;
    padding-bottom:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}
.about div{
    max-width:50%;
    padding-right:40px;
}
.about img{
    max-width:300px;
    border-radius:8px;
    max-height:450px;
}
.about div h2{
    font-size:32px;
    margin-bottom:14px;
}

.projects{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  padding:80px 0; /*O primeiro numero vai dar espaçamento em cima e em baixo e o segundo numero vai dar espaçamento na esquerda e na direita*/
}
.projects h2{
    font-size:32px;
    margin-bottom:8px;
    margin-top:20px;
}
.projects p{
    margin-bottom:40px;
    font-style:italic;
}
.projects-list{
    width:100%;
    margin-bottom:8px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.projects img{
    width:22%;
    margin-left:0.5%;
    margin-right:0.5%;
    opacity:0.8;
    transition:0.9s;
}
.projects img:hover{
    opacity:1;

}
.button{
    background-color:black;
    border:0;
    padding:12px 28px;
    border-radius:4px;
    font-size:18px;
    color:white;
    margin-top:18px;
    cursor:pointer;
    transition:0.9s;
}
.button:hover{
    transform:scale(1.1);
}

  .rodape{
      width:100%;
      background-color:black;
      padding:60px 0px;
      display:flex;
      justify-content:center;
      align-items:center;
      color:white;

  }
  .rodape a{
      text-decoration:none;
      color:white;

  }
  .rodape p{
      margin-left:12px;

  }

   @media(max-width:1050px){
       /*Início Main*/
       .main h1{
           font-size:45px;
       }
       .main p{
           font-size:18px;
       }
       .main{
           background-size:cover

       }
      
       .about{
           flex-direction:column;
           padding-top:80px;
           padding-left:0;
           padding-right:0;
           padding-bottom:0
       }
       .about div{

           max-width:80%;
       }
       .about div h2{
           font-size:45px

       }
       .about img{
           width:80%;
           margin-top:30px

        .projects img{
            width:23%;

     footer{
         flex-direction:column;

     }
     footer h3{
         font-size:24px;
         margin-bottom:8px;
     }

     footer{
         margin:0;
     }
   }
